{% extends "base.html" %}

{% block title %}Analysis{% endblock %}

{% block content %}
<div class="section raised mainContent">
    <div class="splitWidthContainer">
        <div class="left">
            <h3 class="colour">ANALYSIS RULES</h3>
            <br>
            <div class="section lowered" style="min-height: 150px;">
                <a id="detailedButton" class="button colour raised roundedCorners" style="width: 100%; text-align:center" value="Detailed">Detailed</a>
                <br>
                <a id="summaryButton" class="button colour raised roundedCorners" style="width: 100%; text-align:center" value="Summary">Summary</a>
            </div>
            <br><br><br>
            <div class="splitWidthContainer">
                <div class="left">
                    <h3 class="colour">COMP 1</h3>
                    <br>
                    <div class="section lowered" style="min-height: 150px;">
                        {% for option in config['Metrics'][3]['types'] %}
                        <label><input type="radio" name="COMP1" value="{{ option.name }}"> {{ option.name }}</label>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="right">
                    <h3 class="colour">COMP 2</h3>
                    <br>
                    <div class="section lowered" style="min-height: 150px;">
                        {% for option in config['Metrics'][4]['types'] %}
                        <label><input type="radio" name="COMP2" value="{{ option.name }}"> {{ option.name }}</label>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <h3 class="colour">AVAILABLE METRICS</h3>
            <br>
            <div class="section lowered" style="min-height: 150px;">
                {% for metric in config['Metrics'][5]['types'] %}
                <label><input type="radio" name="available_metrics" value="{{ metric.name }}"> {{ metric.name }}</label>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<div class="splitWidthContainer">
    <div class="left">
        <a href="{{ url_for('impairment_options') }}" class="button colour raised roundedCorners backButton"><i class="fa-solid fa-caret-left"></i> Back</a>
    </div>
    <div class="right" style="text-align:right">
        <a href="{{ url_for('output') }}" class="button colour raised roundedCorners nextButton">Next <i class="fa-solid fa-caret-right"></i></a>
    </div>
</div>

<script>
    // JavaScript to handle the button click events
    document.addEventListener("DOMContentLoaded", function() {
        const detailedButton = document.getElementById("detailedButton");
        const summaryButton = document.getElementById("summaryButton");

        detailedButton.addEventListener("click", function() {
            toggleButtonClasses(detailedButton, summaryButton);
        });

        summaryButton.addEventListener("click", function() {
            toggleButtonClasses(summaryButton, detailedButton);
        });

        function toggleButtonClasses(clickedButton, otherButton) {
            clickedButton.classList.remove("raised");
            clickedButton.classList.add("lowered");

            otherButton.classList.remove("lowered");
            otherButton.classList.add("raised");
        }
    });
</script>
{% endblock %}
