{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
            <!-- LAYER OPTIONS PAGE !-->
            <div class="section raised centreContent mainContent" style="">
              <br>

              <div class="splitWidthContainer" style="height:calc(100% - 100px);">
                <!-- Layer 0 !-->
                <div class="leftThird" style="text-align:center">
                  <h2 class="colour">PACKET LOSS</h2><br>
                  <div class="section lowered" style="text-align:center;height:200px;overflow-y:auto">
                    <div style="text-align:left;display:inline-block;">
                      {% for impairmentValue in config['Network'][2]['impairment values'] %}
                        {% if impairmentValue.id in config['Network'][1]['impairments'][0]['active_impairment_values'] %}
                          <label style="padding:15px;">
                            <input onclick="checkboxClicked('packet_loss_{{impairmentValue.id}}')" id='packet_loss_{{impairmentValue.id}}' type="checkbox" name="packet_loss" value="{{impairmentValue.value}}"> {{impairmentValue.name}}
                          </label><br><br>
                        {% endif %}
                      {% endfor %}
                    </div>

                  </div>
                  <br>

                  <h2 class="colour">JITTER (%)</h2><br>
                  <div class="section lowered" style="text-align:center;height:200px;overflow-y:auto">
                    <div style="text-align:left;display:inline-block;">
                      {% for impairmentValue in config['Network'][2]['impairment values'] %}
                        {% if impairmentValue.id in config['Network'][1]['impairments'][3]['active_impairment_values'] %}
                          <label style="padding:15px;">
                            <input onclick="checkboxClicked('jitter_{{impairmentValue.id}}')" id='jitter_{{impairmentValue.id}}' type="checkbox" name="packet_loss" value="{{impairmentValue.value}}"> {{impairmentValue.name}}
                          </label><br><br>
                        {% endif %}
                      {% endfor %}
                    </div>

                  </div>


                </div>
                <!-- Layer 1 !-->
                <div class="centreThird" style="text-align:center">
                  <h2 class="colour">THROTTLE BANDWIDTH</h2><br>
                  <div class="section lowered" style="text-align:center;height:200px;overflow-y:auto">
                    <div style="text-align:left;display:inline-block;">
                      {% for impairmentValue in config['Network'][2]['impairment values'] %}
                        {% if impairmentValue.id in config['Network'][1]['impairments'][2]['active_impairment_values'] %}
                          <label style="padding:15px;">
                            <input onclick="checkboxClicked('throttle_bandwidth_{{impairmentValue.id}}')" id='throttle_bandwidth_{{impairmentValue.id}}' type="checkbox" name="packet_loss" value="{{impairmentValue.value}}"> {{impairmentValue.name}}
                          </label><br><br>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <br>
                  <h2 class="colour">END TO END DELAY (ms)</h2><br>
                  <div class="section lowered" style="text-align:center;height:200px;overflow-y:auto">
                    <div style="text-align:left;display:inline-block;">
                      {% for impairmentValue in config['Network'][2]['impairment values'] %}
                        {% if impairmentValue.id in config['Network'][1]['impairments'][4]['active_impairment_values'] %}
                          <label style="padding:15px;">
                            <input onclick="checkboxClicked('end_to_end_delay_{{impairmentValue.id}}')" id='end_to_end_delay_{{impairmentValue.id}}' type="checkbox" name="packet_loss" value="{{impairmentValue.value}}"> {{impairmentValue.name}}
                          </label><br><br>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>


                </div>
                <!-- Layer 2 !-->
                <div class="rightThird" style="text-align:center">
                  <h2> <br></h2><br>
                  <div class="section" style="text-align:center;min-height:450px;">
                    <br>
                    <h2 class="colour">IMPAIRMENT<br>COUNT</h2>
                    <br>
                    <div class="section lowered" style="text-align:center;height:200px;">
                      <br>
                      <br>
                      <br>
                      <h2 id="selectedCount" style="display:inline-block;" class="colour">0</h2><h2 style="display:inline-block;" class="colour">/4</h2>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!-- THIS SECTION TO BE ADDED TO A BASE OR AS A COMPONENT !-->
            <!-- NEXT PAGE BUTTON -->
            <div class="splitWidthContainer">
              <div class="left">
                <a href="{{ url_for('network') }}" class="button colour raised roundedCorners backButton"><i class="fa-solid fa-caret-left"></i> Back</a>
              </div>
              <div class="right" style="text-align:right">
                <a href="{{ url_for('analysis_viewer') }}" class="button colour raised roundedCorners nextButton">Next <i class="fa-solid fa-caret-right"></i></a>
              </div>
            </div>





            <script>
              let selectedCount = 0;
              const maxSelection = 4;

              function updateSelectedCount() {
                  document.getElementById('selectedCount').textContent = selectedCount;
              }

              function checkboxClicked(checkboxId) {
                  const checkbox = document.getElementById(checkboxId);

                  if (checkbox.checked) {
                      if (selectedCount >= maxSelection) {
                          checkbox.checked = false;
                          alert('Maximum impairment options reached');
                      } else {
                          selectedCount++;
                      }
                  } else {
                      selectedCount--;
                  }
                  updateSelectedCount();
              }
            </script>
{% endblock %}
