<!--
# 1KLIK Project - User Interface
# CS356 Group Project - Group One
# Abby Boyle, Adam Clacher, Aidan Purdie, James Brown, and Jamie Connelly

# layer_config.html
# The layer config page
-->

{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

            <!-- Page content section -->
            <div class="section splitWidthContainer raised centreContent mainContent">
              <br>
                <div class="left">
                  <h2 class="right colour boldText" id="layerconfignumber">LAYER [x] CONFIG</h2>
                  <br>
                  <div id="layer" class="section lowered roundedCorners" style="min-height:300px;">
                      <button class="button colour roundedCorners raised" onclick="displayTemporal()">Temporal</button>
                      <br>
                      <button class="button colour roundedCorners raised" onclick="displayDepth()">Depth</button>
                      <br>
                      <button class="button colour roundedCorners raised" onclick="displaySpatial()">Spacial</button>
                      <br>
                      <button class="button colour roundedCorners raised" onclick="displayQuality()">Quality</button>
                  </div>
                </div>

                <div class="right">
                  <h2 class="right colour boldText">VIDEO OPTIONS</h2>
                  <br>
                  <div id="video" class="section lowered roundedCorners" style="min-height:300px;">
                    {% for metric in config['Encoder'][6]['scalability'] %}
                      {% if metric['name'] == 'depth' %}
                        <div id="depth_options" style="display:none">
                        {% for type in metric['types'] %}
                            <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
                            <br>
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if metric['name'] == 'spatial(resolutions)' %}
                      <div id="spatial_options" style="display:none">
                        {% for type in metric['types'] %}
                            <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
                            <br>
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if metric['name'] == 'temporals(frame rate)' %}
                      <div id="temporal_options" style="display:none">
                        {% for type in metric['types'] %}
                            <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
                            <br>
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if metric['name'] == 'quality' %}
                      <div id="quality_options" style="display:none">
                        {% for type in metric['types'] %}
                            <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
                            <br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
            </div>
            <br>

            <div class="splitWidthContainer">
              <div class="left">
                <a href="{{ url_for('layer_options') }}" class="button colour raised roundedCorners backButton"><i class="fa-solid fa-caret-left"></i> Cancel</a>

              </div>
              <div class="right" style="text-align:right">
                <a href="{{ url_for('layer_options') }}" class="button colour raised roundedCorners nextButton">Save</a>
              </div>
            </div>

            <script>
              const urlParams = new URLSearchParams(window.location.search);
              const pagenumber = urlParams.get('number');
              if (pagenumber != null) {
                document.getElementById("layerconfignumber").innerHTML = "LAYER " + pagenumber + " CONFIG";
              }

              function displayTemporal() {
                document.getElementById('spatial_options').style.display = 'none';
                document.getElementById('depth_options').style.display = 'none';
                document.getElementById('temporal_options').style.display = 'inline';
                document.getElementById('quality_options').style.display = 'none';
              }

              function displaySpatial() {
                document.getElementById('spatial_options').style.display = 'inline';
                document.getElementById('depth_options').style.display = 'none';
                document.getElementById('temporal_options').style.display = 'none';
                document.getElementById('quality_options').style.display = 'none';
              }

              function displayDepth() {
                document.getElementById('spatial_options').style.display = 'none';
                document.getElementById('depth_options').style.display = 'inline';
                document.getElementById('temporal_options').style.display = 'none';
                document.getElementById('quality_options').style.display = 'none';
              }

              function displayQuality() {
                document.getElementById('spatial_options').style.display = 'none';
                document.getElementById('depth_options').style.display = 'none';
                document.getElementById('temporal_options').style.display = 'none';
                document.getElementById('quality_options').style.display = 'inline';
              }



            </script>
{% endblock %}
