<!--
# 1KLIK Project - User Interface
# CS356 Group Project - Group One
# Abby Boyle, Adam Clacher, Aidan Purdie, James Brown, and Jamie Connelly

# network.html
# The network page
-->

{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <!-- This section requires:
        - 3 buttons (create/edit/delete)
        - Project name text box
        - 3 radio buttons (encode only/live stream/stream & record) -->
    <div class="section raised centreContent mainContent" style="text-align:center">
        <br><br>
        <h1 class="colour boldText">NETWORK TYPE</h1>
        <br><br>

        <form class="">
            <div class="" style="display:inline-block;text-align:left;font-size:20px;color:grey">
                {% for topology in config['Network'][0]['topology'] %}
                <label><input id="topology_{{topology.name}}" type="radio" name="output" value="{{topology.name}}"> {{topology.name}} </label>
                <br>
                {% endfor %}
            </div>
        </form>

        <br><br>
        <a onclick="checkAndRedirect()" style="width:50%;min-width:300px;max-width:350px;" class="button colour raised roundedCorners boldText centreContent">IMPAIRMENT OPTIONS</a><br>

    </div>
    <br>
    <!-- THIS SECTION TO BE ADDED TO A BASE OR AS A COMPONENT !-->
    <!-- NEXT PAGE BUTTON -->
    <div class="splitWidthContainer">
        <div class="left">
            <a href="{{ url_for('layer_options') }}" class="button colour raised roundedCorners backButton"><i class="fa-solid fa-caret-left"></i> Back</a>
        </div>
        <div class="right" style="text-align:right">
        </div>
    </div>

    <script>
        let selectionMade = false;

        function checkImpairmentRadios() {
            const radios = document.querySelectorAll('input[type="radio"][id*="topology"]');
            selectionMade = false;  // Reset selectionMade
            radios.forEach(radio => {
                if (radio.checked) {
                    selectionMade = true;
                }
            });
        }

        function checkAndRedirect() {
            checkImpairmentRadios(); // Ensure the latest status is checked
            if (selectionMade) {
                window.location.href = "{{ url_for('impairment_options') }}";
            } else {
                alert("Please make a Network Type selection.");
            }
        }

        window.onload = function() {
            checkImpairmentRadios();
        };
    </script>
{% endblock %}
