<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sample Conditional Elements</title>
    </head>
    <body>
        <!-- Output the entire config metadata section: -->
        <p>Metadata Section: {{ config['Metadata'] }}</p>

        <!-- Here we can do if statements -->
        {% if config['Metadata']['last_update'] == 'update_num' %}
            <p>true</p>
        {% else %}
            <p>false</p>
        {% endif %}

        <!-- Here we can do iteration, very good for dynamic content -->
        <p>We have the following sections in our JSON:</p>

        {% for key, value in config.items() %}
        <ul>
          <li>{{ key }}</li>
        </ul>
        {% endfor %}

        <br>

        <button onClick="displayTemporal()">Load Options</button>

        <div>

          {% for metric in config['Encoder'][6]['scalability'] %}
            {% if metric['name'] == 'depth' %}
              {% for type in metric['types'] %}
              <div id="depth_options" style="display:none">
                  <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
              </div>
              {% endfor %}
            {% endif %}
            {% if metric['name'] == 'spatial(resolutions)' %}
              {% for type in metric['types'] %}
              <div id="spatial_options" style="display:none">
                  <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
              </div>
              {% endfor %}
            {% endif %}
            {% if metric['name'] == 'temporals(frame rate)' %}
              {% for type in metric['types'] %}
              <div id="temporal_options" style="display:none">
                  <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
              </div>
              {% endfor %}
            {% endif %}
            {% if metric['name'] == 'quality' %}
              {% for type in metric['types'] %}
              <div id="quality_options" style="display:none">
                  <label class="">{{ type.name }}<input type="radio" name="radio" value="{{ type.name }}"></label>
              </div>
              {% endfor %}
            {% endif %}
          {% endfor %}

      </div>

    </body>

    <script>
      function displayTemporal() {
        document.getElementById('spatial_options').style.display = 'inline';
        document.getElementById('depth_options').style.display = 'none';
        document.getElementById('temporal_options').style.display = 'none';
        document.getElementById('quality_options').style.display = 'none';
      }
    </script>
</html>
