<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CS356 Project - Home</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesheet.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/additional.css') }}">

        <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/index.js') }}" defer></script>
        <script src="https://kit.fontawesome.com/e0a50a6f3e.js" crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="section centreContent">
                <a href="" class="button raised roundedCorners boldText">SETUP</a>
                <a href="" class="button colour raised roundedCorners boldText">ENCODING</a>
                <a href="" class="button backgroundColour colour raised roundedCorners boldText">VIDEO</a>
                <a href="" class="button colour raised roundedCorners boldText disabledButton">NETWORK</a>
                <a href="" class="button colour raised roundedCorners boldText disabledButton">ANALYSIS</a>
                <a href="" class="button colour raised roundedCorners boldText disabledButton">OUTPUT</a>
            </div>
            <br>
            <!-- This section requires:
                - 3 buttons (create/edit/delete)
                - Project name text box
                - 3 radio buttons (encode only/live stream/stream & record) -->
            <div class="section raised centreContent">
                <h1>Scrum 45 Pages</h1>
                <br><br>
                <a href="#" class="button raised roundedCorners colour">Video Selection</a>
                <a href="{{ url_for('layerOptions') }}" class="button raised roundedCorners colour">Layer Options</a>
                <a href="#" class="button raised roundedCorners colour">Layer Configuration</a>
            </div>
            <br>
            <!-- NEXT PAGE BUTTON -->
            <div class="section">
                <div class="splitWidthContainer">
                    <div class="left"></div>
                    <div class="right">
                        <div class="splitWidthContainer">
                            <div class="left"></div>
                            <div class="right">
                                <a href="" class="button colour raised roundedCorners boldText centreContent"
                                   onclick="displayPageOptions()">NEXT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
