<!--
# 1KLIK Project - User Interface
# CS356 Group Project - Group One
# Abby Boyle, Adam Clacher, Aidan Purdie, James Brown, and Jamie Connelly

# video_options.html
# The video options page
-->

{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

            <div class="section raised centreContent mainContent" style="text-align:center">
              <br><br>
              <h1 class="colour boldText colour">VIDEO SELECTION</h1>
              <br><br>
                <div class="section lowered roundedCorners" style="width:300px;display:inline-block">
                  {% for video in config['Encoder'][3]['raw_files'] %}
                         <label><input type="radio" name="encoder" value="{{ video.name }}"> {{ video.name }}</label><br>
                         <br>
                  {% endfor %}
                </div>
            </div>
            <br>
            <div class="splitWidthContainer">
              <div class="left">
                <a href="{{ url_for('encoder_viewer') }}" class="button colour raised roundedCorners backButton"><i class="fa-solid fa-caret-left"></i> Back</a>

              </div>
              <div class="right" style="text-align:right">
                <a href="{{ url_for('layer_options') }}" class="button colour raised roundedCorners nextButton">Next <i class="fa-solid fa-caret-right"></i></a>
              </div>
            </div>
{% endblock %}
