/**
# 1KLIK Project - User Interface
# CS356 Group Project - Group One
# Abby Boyle, Adam Clacher, Aidan Purdie, James Brown, and Jamie Connelly

# stylesheet.css
# Store base stylesheets
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    transition: 0.1s
}

*:focus {
    outline: none;
}

a:hover{
  cursor: pointer;
}

.backgroundColour{
  background-color: #b80474;
  color: #dde1e7;
}

.colour{
  color: #b80474;
}


.content{
  width: 100%;
  min-height: 100%;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dde1e7;
}

.centreContent{
  display: flex;
  justify-content: center;
}

.greyBackground{
  background-color: #dde1e7;
}

p{
  font-size: 20px;
  color: grey;
}

h1, h2, h3, h4 {
  color: grey;
}

.section{
  background: #dde1e7;
  border-radius: 10px;
  padding: 25px;
}

.page-section{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fiftyLeft{
  width: 49%;
  display: inline-block;
}
.fiftyRight{
  width: 49%;
  margin-left: 1%;
  display: inline-block;
}

/*Neomorphism https://www.geeksforgeeks.org/how-to-create-neumorphism-effect-using-html-and-css/*/

.roundedCorners{
  border-radius: 15px;
}

.button{
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  border: none;
  outline: none;
}

.smallHeader{
  font-size: 20px;
  font-weight: bold;
}

.button:hover{
  box-shadow: -0px -0px 0px #d7d7d7,
                0px 0px 0px rgba(0, 0, 0, 0);
}

.button:active{
  box-shadow: inset -3px -3px 7px #ffffffb0,
  inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.raised {
  position: relative;
  box-shadow: -3px -3px 7px #ffffffb2,
                  3px 3px 5px rgba(94, 104, 121, 0.945);
}

.lowered {
  box-shadow: inset -3px -3px 7px #ffffffb0,
  inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}


/* TABS */
.tab {
  overflow: hidden;
  border-radius: 15px;
  padding: 7px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-size: 18px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: -3px -3px 7px #ffffffb2,
                  3px 3px 5px rgba(94, 104, 121, 0.945);

}


/* Change background color of buttons on hover */
.tab button:hover {
  color: #b80474;
}

/* Create an active/current tablink class */
.tab button.active {
  position: relative;
  color: #b80474;
  box-shadow: inset -3px -3px 7px #ffffffb0,
  inset 3px 3px 5px rgba(94, 104, 121, 0.692);

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px;
  border-top: none;
}

/* SPLIT WIDTH SECTIONS */

.splitWidthContainer {
  display:table;
  width: 100%;
}
.left, .right {
  display: table-cell;
  width: 50%;
  padding: 7px;
}

/* Basic css for the code snippets */

pre {
    padding: 10px;
    overflow: auto;
    border-radius: 15px;
    box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
    display: none;
}

code {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

.toggleButton{

}



@media screen and (max-width:1000px) {
  .fiftyLeft{
    width: 100%;
  }
  .fiftyRight{
    width: 100%;
    margin-left: 0%;
  }
  .left, .right {
    display: inline-block;
    width: 100%;
    padding: 7px;
  }
}
